.Home{
    /* box-model */
    width: 100%;
    height: 90vh;
    padding: .5rem;
}

.title{
    /* box-model */
    margin-bottom: 2rem;

    /* display */
    display: flex;
    flex-direction: column;

    /* typo */
    text-align: center;
    text-transform: capitalize;
}
.title img{
    /* box-model */
    width: 70px;
    height: 70px;
    margin: 0 auto;
}



@media (max-width: 1080px) {
    .action {
            width: 40%;
    }
}