@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

:root{
  --clr-primary: #231c74;
  --clr-secondary: #e97414;
  --clr-accent: #dbb91f;

  --primary: black;
  --white: white;
}